<a href="https://colab.research.google.com/github/niteshgajakosh/Topic-Modeling-on-News-Articles/blob/main/News_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import pandas as pd
import numpy as np
import glob
import os

In [45]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
data_folder = "/content/drive/MyDrive/Datasets/Untitled folder/bbc"
folders = ["business","entertainment","politics","sport","tech"]

In [47]:
os.listdir(data_folder)

['README.TXT', 'business', 'politics', 'tech', 'entertainment', 'sport']

In [48]:
files = os.listdir("/content/drive/MyDrive/Datasets/Untitled folder/bbc")

In [49]:
folderslist = [f for f in os.listdir(data_folder) if not f.startswith('.')]

In [50]:
folderslist

['README.TXT', 'business', 'politics', 'tech', 'entertainment', 'sport']

In [51]:
news = []
newstype = []

In [52]:
for folder in folders:
    folder_path = "/content/drive/MyDrive/Datasets/Untitled folder/bbc/"+folder+'/'
    files = os.listdir(folder_path)
    for text_file in files:
        file_path = folder_path + "/" +text_file
        with open(file_path, errors='replace') as f:
            data = f.readlines()
        data = ' '.join(data)
        news.append(data)
        newstype.append(folder)

In [53]:
len(newstype)

2225

In [54]:
#make a dict of news and its corresponding type
datadict = {'news':news, 'type':newstype}

In [55]:
#write the dictionary to a csv file
df = pd.DataFrame(datadict)
df.to_csv('./bbc.csv')

In [56]:
data = pd.read_csv('bbc.csv')

In [57]:
data

      Unnamed: 0                                               news      type
0              0  Yukos unit buyer faces loan claim\n \n The own...  business
1              1  Ad sales boost Time Warner profit\n \n Quarter...  business
2              2  Dollar gains on Greenspan speech\n \n The doll...  business
3              3  US trade gap hits record in 2004\n \n The gap ...  business
4              4  High fuel prices hit BA's profits\n \n British...  business
...          ...                                                ...       ...
2220        2220  BT program to beat dialler scams\n \n BT is in...      tech
2221        2221  Bad e-mail habits sustains spam\n \n The 'bad ...      tech
2222        2222  Microsoft plans 'safer ID' system\n \n Microso...      tech
2223        2223  Camera phones are 'must-haves'\n \n Four times...      tech
2224        2224  Beckham virus spotted on the net\n \n Virus wr...      tech

[2225 rows x 3 columns]